.board {
  /* size of the board */
}

.board-cell {
  /* size of the cell */
}

.board-cell-light {
  background-color: #999;
}

.board-cell-dark {
  background-color: #666;
}

.piece {
  /* size and roundness of piece */
}

.piece-white {
  background-color: white;
}

.piece-black {
  background-color: black;
}