html,
body,
#app {
  height: 100vh;
  background-color: #111111;
  margin: 0px;
  padding: 0px;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-container {
  height: 95vh;
  margin-bottom: 5vh;
}

.board {
  margin: 4px #666;
}

.board-row {
  display: flex;
}

.board-cell {
  width: 64px;
  height: 64px;
}

.board-cell-light {
  background-color: #AAA;
}

.board-cell-dark {
  background-color: #666;
}

.board-piece {
  width: 48px;
  height: 48px;
  margin: 8px 8px;
  border-radius: 50%;
}

.board-piece-white {
  background-color: white;
}

.board-piece-black {
  background-color: black;
}